    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        background-color: #fff;
    }
    
    .main {
        width: 1200px;
        min-height: 100vh;
        max-width: 100%;
        margin: auto;
        padding-bottom: 20px;
    }
    
    .nav {
        display: flex;
        align-items: center;
        height: 48px;
        background-color: #333;
    }
    
    .nav__list {
        display: flex;
        list-style: none;
    }
    
    .nav__link {
        text-decoration: none;
        color: #fff;
        margin-right: 48px;
    }
    /* Article */
    
    h1 {
        line-height: 2rem;
    }
    
    article {
        padding: 0 16px;
        line-height: 1.6rem;
    }
    
    article img {
        width: 640px;
        max-width: 100%;
        display: block;
        margin: 32px auto;
    }
    /*nav*/
    
    input {
        display: none;
    }
    
    input:checked~.nav__modal {
        display: block;
    }
    
    input:checked~.nav__mobile {
        transform: translateX(0);
        opacity: 1;
    }
    
    .nav__modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        animation: fakein linear 0.5s;
    }
    
    .nav-bar__btn {
        width: 30px;
        height: 30px;
        color: #fff;
        display: none;
    }
    
    .nav__mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        max-width: 100%;
        background-color: #fff;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform linear 0.5s;
    }
    
    .nav__mobile-list {}
    
    .nav__mobile-link {
        text-decoration: none;
        color: #333;
        display: block;
        padding: 8px 0;
        font-size: 1.4rem;
    }
    
    .nav__mobile-close {
        width: 30px;
        height: 30px;
        font-size: 1.4rem;
        color: #666;
        position: absolute;
        top: 0;
        right: 0;
    }
    /* Tablet: width >= 740px and width < 1024px */
    
    @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
        .nav-bar__btn {
            display: block;
            margin-left: 8px;
        }
        .nav__pc {
            display: none;
        }
    }
    
    @media only screen and (max-width: 46.1875em) {
        .nav-bar__btn {
            display: block;
            margin-left: 8px;
        }
        .nav__pc {
            display: grid;
        }
    }
    
    @keyframes fakein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }